<div class="contain">
  <h2 class="title line_addon">Configuraciones</h2>
  <nz-tabset>
    <nz-tab nzTitle="Creditos">
      <nz-collapse>
        <nz-collapse-panel nzHeader="Precio por credito">
          <!-- price for credit -->
          <app-price-credit></app-price-credit>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Creditos de bienvenida">
          <app-welcome-credits></app-welcome-credits>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-tab>
  </nz-tabset>
</div>
