@import "src/sass/mixins.scss";
@import "src/sass/variables.scss";
@import "src/sass/responsive";
:host {
  position: fixed;
  bottom: 50px;
  right: 50px;
  @include layout-bp(lt-sm) {
    transform: scale(0.7);
    bottom: 20px;
    right: 20px;
  }
}
.chat_button {
  @include resetButton {
    @include createCircle(80px);
    @include centerContent();
    background-color: $button-color-chat;
    color: $icon-color-chat;
    font-size: $size-icon-chat;
  }
}
app-overlay {
  z-index: 1000;
}
