:host {
  display: block;
  //   border: 2px solid black;
  position: relative;
  height: var(--size);
  overflow: hidden;
  --color: black;
}

.content {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  //   background-color: black;
}
.view_btn {
  position: absolute !important;
  bottom: 0;
  z-index: 8;
}
.overlay {
  display: var(--overlay);
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: white;
}
