@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
/***************************externs*************************************/
@import "~bootstrap-utilities";
/***************************externs*************************************/

/***************************pages*************************************/
@import "variables.scss";
@import "customize/main";
@import "auth/auth";
@import "generals";
@import "utils";

/***************************pages*************************************/
/***************************inputs*************************************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-sans;
  font-size: 18px;
}
