@import "src/sass/variables";
@import "src/sass/responsive";
:host {
  display: block;
}
.information__badges {
  margin: 0 auto !important;
  width: var(--size-container) !important;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include layout-bp(xs) {
    font-size: 0.8rem;
  }
  &_badge {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin: 10px;
    background: $secondary-color;
    color: $white-color;
    padding: 8px 10px;
    border-radius: 10px;
    * {
      vertical-align: middle;
      padding: 5px;
    }

    // responsive
    @include layout-bp(xs) {
      padding: 4px 6px;
    }
  }
}
