@import "src/sass/responsive";
@import "src/sass/mixins";
:host {
  display: block;
  @include mq(lg) {
    transform: scale(0.95);
  }
}

.masonry {
  text-align: center;
  width: 1000px;
}
.row_galery {
  overflow: hidden !important;
  .swiper-slide {
    margin: 10px 10px;
    overflow: hidden !important;
  }
}

app-card {
  overflow: hidden !important;
}

@include contain {
  width: 800px;
  @include layout-bp(sm) {
    width: 650px;
  }
  @include layout-bp(lt-sm) {
    width: 80vw !important;
  }
}
