<container mode="small" *ngIf="vm$ | async as vm">
  <le-title lineAddon text="Control de sedes"></le-title>
  <div nz-row class="w-100">
    <nz-form-item nz-col nzSpan="8">
      <nz-form-control>
        <nz-input-group nzSuffixIcon="search">
          <input nz-input placeholder="Buscar" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button
      nz-button
      nz-col
      nzOffset="4"
      nzType="primary"
      (click)="actionCreate()"
    >
      Nueva sede
    </button>
  </div>
  <nz-table #sedesTable [nzData]="vm.sedes">
    <thead>
      <tr>
        <th>
          Nombre
        </th>

        <th>
          Dirección
        </th>

        <th>
          accciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sede of sedesTable.data">
        <td>
          {{ sede.name }}
        </td>
        <td>
          {{ sede.direction }}
        </td>
        <td>
          <nz-space>
            <button *nzSpaceItem nz-button nzDanger>
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
            <button *nzSpaceItem nz-button nzType="primary">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
            <button *nzSpaceItem nz-button nzType="primary">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>
</container>
