<div fxLayout="row" style="height: 100vh">
  <div
    fxFlex="50%"
    fxFlex.lt-sm="100%"
    fxLayoutAlign="center center"
    fxLayout="column"
    style="height: 100vh"
    class="contain_oauth_form"
    style="overflow-y: scroll"
  >
    <!-- <img width="150" src="assets/wellenesslogo.png" alt="" /> -->
    <!-- template for send email -->
    <ng-container *ngIf="stepEmail">
      <h2 class="title line_addon w-50 text-center">Correo Electronico</h2>
      <nz-form-item class="w-50 shadow-lg p-3 rounded">
        <nz-form-control
          class="control_le"
          nzErrorTip="Este email no es valido"
          [nzSpan]=""
        >
          <p class="paragraph text-center">
            Enviaremos un correo con los pasos a seguir
          </p>
          <input
            type="text"
            nz-input
            [formControl]="email"
            class="w-100"
            placeholder="Ingrese su email"
          />
        </nz-form-control>
        <!-- message for prevent send email frecuntly -->
        <ng-container *ngIf="disabled">
          <span class="d-block w-100 text-center p-2"
            >Proximo intento en : {{ this.counter }}</span
          >
        </ng-container>

        <button
          class="mx-auto my-3"
          (click)="forgotPassword()"
          nz-button
          [disabled]="disabled"
          [nzLoading]="loading"
          nzType="primary"
        >
          {{ attempsSend > 0 ? "Reenviar email" : "Enviar email" }}
        </button>
      </nz-form-item>
    </ng-container>
    <!-- template for reset password -->
    <ng-container *ngIf="!stepEmail">
      <h2 class="title line_addon w-50 text-center">
        Ingrese su nueva contraseña
      </h2>
      <!-- form -->
      <form
        class="w-50 shadow-lg p-4"
        action=""
        nz-form
        [formGroup]="passwordForm"
      >
        <!-- password -->
        <nz-form-item class="w-100">
          <nz-form-control [nzErrorTip]="errorPassword" class="control_le">
            <nz-form-label nzFor="password"> Contraseña </nz-form-label>
            <input
              type="password"
              formControlName="password"
              nz-input
              placeholder="Ingrese su contraseña"
            />
          </nz-form-control>
          <!-- validate password -->
          <ng-template #errorPassword let-control>
            <ng-container *ngIf="control.hasError('password')">
              {{ control.getError("password") }}
            </ng-container>
          </ng-template>
        </nz-form-item>
        <!-- repeat password -->
        <nz-form-item class="w-100">
          <nz-form-control [nzSpan]="configAuth.widhtInput" class="control_le">
            <nz-form-label nzFor="password">Repetir Contraseña </nz-form-label>
            <input
              type="password"
              formControlName="repeatPassword"
              nz-input
              placeholder="Ingrese su contraseña"
            />
          </nz-form-control>
        </nz-form-item>
        <!-- button -->
        <button
          [nzLoading]="loading"
          class="d-block mx-auto my-2"
          (click)="changuePassword()"
          nz-button
          nzType="primary"
        >
          restablecer
        </button>
      </form>
    </ng-container>
  </div>
  <!-- background image left -->
  <div
    fxFlex="50%"
    fxHide.lt-sm="true"
    [ngStyle]="stylesForBackground"
    style="height: 100vh"
  ></div>
</div>
